.header-wrapper {
    width: 100%;
    height: 126px;
    background-color: #fff;
    position: fixed;
    z-index: 99999;
    left: 0;
    right: 0;
}

.header {
    display: flex;
    align-items: center;
    height: 126px;
    margin: 0 48px;
}

.header__name {
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 700;
}

.header__job {
    font-size: 2rem;
    font-weight: 300;
}

.header__navbar {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.header__navbar-item-link {
    text-decoration: none;
    color: #000;
    font-size: 1.6rem;
    font-weight: 300;
    padding-left: 26px;
}

.header__navbar-item-link:hover {
    color: #0151FF;
}

.header__aboutme {
    color: #0151FF;
}
 
.header__resume {
    cursor: pointer;
}

/* CONTERNT */

.content {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    /* display: none; */
}

.content__primary-color {
    width: 660px;
    height: 956px;
    background-color: #E6DACE;
}

.content__aboutme {
    margin-left: 128px;
    /* margin-top: 225px; */
    margin-top: 200px;
}

.content__heading {
    font-size: 10rem;
    font-weight: 900;
    margin: 0;
    padding: 30px 0 74px 0;
}

.content__text {
    font-size: 2.5rem;
    padding-bottom: 50px;
    margin: 0;
}

.content__body {
    margin-bottom: 60px;
}

.content__link {
    font-size: 1.4rem;
    text-decoration: none;
    margin-right: 16px;
    font-weight: 500;
}

.content__link-resume {
    color: #fff;
    background-color: #0151FF;
    padding: 10px 36px;
    border-radius: 20px;
}

.content__link-projects {
    color: #000;
    background-color: #fff;
    padding: 10px 31px;
    border-radius: 20px;
    border: 1px solid #000;
}

.content__link-projects:hover {
    color: #fff;
    background-color: #0151FF;
    transition: all linear 0.2s;
}

.content__link-resume:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #0151FF;
    transition: all linear 0.2s;
}

.content__desc {
    font-size: 1.7rem;
    max-width: 369px;
    line-height: 1.5;
    font-weight: 300;
    margin: 0 0 34px 0;
}

.content__footer {
    font-size: 1.7rem;
    max-width: 369px;
    line-height: 1.5;
    font-weight: 300;
}

/* INFO */

.content__info {
    width: 375px;
    height: 528px;
    position: absolute;
    top: 294px;
    left: 374px;
    box-shadow: -3px 5px 8px #999;
}

.info-body {
    width: 100%;
    height: 472px;
    background-color: #F4ECE6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-body__img {
    width: 205px;
    height: 205px;
    border-radius: 50%;
    margin-top: 44px;
}

.info-body__name {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 40px 0 0 0;
}

.info-body__name--1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 16px 0 34px 0;
}

.info-body__job {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 6px;
    margin: 34px 0 0 0;
    position: relative;
}

.info-body__job::before {
    content: "";
    display: block;
    position: absolute;
    top: -34px;
    right: 22px;
    border-top: 3px solid #0151FF;
    width: 70px;
}

.info__contact {
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.info-contact__link img {
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

/* FOOTER */

.footer {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer-contact {
    text-decoration: none;
    font-size: 1.4rem;
    color: #000;
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-contact__heading {
    margin: 5px 0;
    cursor: default;
}

.footer-contact__link {
    margin: 5px 0;
}

.footer-contact__link:hover {
    color: #0151FF;
}